flows/Case_to_WO_Cloned_One.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Asset_To_Update_2</name>
        <label>Asset To Update 2</label>
        <locationX>1286</locationX>
        <locationY>6236</locationY>
        <assignmentItems>
            <assignToReference>ActualAssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCase.AssetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAssetInformation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssettoUpdate</name>
        <label>AssettoUpdate</label>
        <locationX>758</locationX>
        <locationY>6236</locationY>
        <assignmentItems>
            <assignToReference>ActualAssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetsDataTable.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAssetInformation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssetToUpdate1</name>
        <label>AssetToUpdate1</label>
        <locationX>1022</locationX>
        <locationY>6236</locationY>
        <assignmentItems>
            <assignToReference>ActualAssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetDatatableAccountBased.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAssetInformation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_List_from_CCS_SC</name>
        <label>Assign Asset List from CCS SC</label>
        <locationX>2085</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>AssetListFromCCS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_CCS_records.ServiceAgreement__r.AssetList__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contains_Operator_CCS_SC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_Serial_Number</name>
        <label>Assign Asset Serial Number</label>
        <locationX>1022</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>AssetSerialNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCase.Asset.SerialNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CSSCreationDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AssetList</name>
        <label>Assign AssetList</label>
        <locationX>699</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>AssetList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_getSC.AssetList__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contains_Operator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AssetList2</name>
        <label>Assign AssetList2</label>
        <locationX>516</locationX>
        <locationY>4538</locationY>
        <assignmentItems>
            <assignToReference>AssetList2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract.AssetList__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contains_Operator1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AssetList2_from_CCS</name>
        <label>Assign AssetList2 from CCS</label>
        <locationX>1088</locationX>
        <locationY>4646</locationY>
        <assignmentItems>
            <assignToReference>AssetList2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DisplayCCS.firstSelectedRow.ServiceAgreement__r.AssetList__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Contains_Operator1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Update_AssetList</name>
        <label>Copy 1 of Update AssetList</label>
        <locationX>1876</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>AssetListFromCCS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingTextCCS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Contains_Operator_CCS_SC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Exact_Serial_Number_match_check</name>
        <label>Exact Serial Number match check</label>
        <locationX>226</locationX>
        <locationY>2570</locationY>
        <assignmentItems>
            <assignToReference>SCFiltered</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_getSC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_getSC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Exact_Serial_Number_match_check_last</name>
        <label>Exact Serial Number match check last</label>
        <locationX>754</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>SCFiltered</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_getSC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_getSC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Split_Asset_Value</name>
        <label>Split Asset Value</label>
        <locationX>384</locationX>
        <locationY>4862</locationY>
        <assignmentItems>
            <assignToReference>AssetSerialNumberList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SplittedText2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetList2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingText2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Contains_Operator1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_AssetList</name>
        <label>Update AssetList</label>
        <locationX>490</locationX>
        <locationY>2570</locationY>
        <assignmentItems>
            <assignToReference>AssetList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Contains_Operator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CCS_Collection</name>
        <label>Update CCS Collection</label>
        <locationX>1612</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>CCSRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_CCS_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_CCS_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CCS_Collection_Last</name>
        <label>Update CCS Collection Last</label>
        <locationX>2140</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>CCSRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_CCS_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_CCS_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_last_value_assetlist2</name>
        <label>Update last value assetlist2</label>
        <locationX>648</locationX>
        <locationY>4862</locationY>
        <assignmentItems>
            <assignToReference>AssetSerialNumberList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetList2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Asset_List_for_Data_Table</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateAssetList2</name>
        <label>UpdateAssetList2</label>
        <locationX>120</locationX>
        <locationY>4862</locationY>
        <assignmentItems>
            <assignToReference>AssetList2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingText2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Contains_Operator1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Non</name>
        <choiceText>Non</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non</stringValue>
        </value>
    </choices>
    <choices>
        <name>Oui</name>
        <choiceText>Oui</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Oui</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Asset_List_is_Null</name>
        <label>Asset List is Null?</label>
        <locationX>1040</locationX>
        <locationY>2462</locationY>
        <defaultConnector>
            <targetReference>Loop_over_getSC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Asset List is Null</defaultConnectorLabel>
        <rules>
            <name>Asset_List_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_against_Splitted_Text_Last</targetReference>
            </connector>
            <label>Asset List Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asset_List_is_Null_CCS_SC</name>
        <label>Asset List is Null CCS SC?</label>
        <locationX>2426</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>Loop_over_CCS_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Asset List is Null</defaultConnectorLabel>
        <rules>
            <name>Asset_List_Not_Null_CCS_SC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetListFromCCS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_against_Splitted_Text_Last_CCS_SC</targetReference>
            </connector>
            <label>Asset List Not Null CCS SC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asset_Not_null</name>
        <label>Asset Not null?</label>
        <locationX>182</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Creer_la_commande_de_service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Asset SN is Null</defaultConnectorLabel>
        <rules>
            <name>Asset_SN_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetSerialNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_getSC</targetReference>
            </connector>
            <label>Asset SN Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asset_Not_null_CCS</name>
        <label>Asset Not null CCS?</label>
        <locationX>1599</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Display_CCS_not_related_to_MP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Asset SN CSS is Null</defaultConnectorLabel>
        <rules>
            <name>Asset_SN_Not_Null_CCS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetSerialNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_CCS_records</targetReference>
            </connector>
            <label>Asset SN Not Null CCS</label>
        </rules>
    </decisions>
    <decisions>
        <name>AssetList2_Last_Value_not_null</name>
        <label>AssetList2 Last Value not null?</label>
        <locationX>780</locationX>
        <locationY>4754</locationY>
        <defaultConnector>
            <targetReference>Get_Asset_List_for_Data_Table</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes Null</defaultConnectorLabel>
        <rules>
            <name>NotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetList2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_last_value_assetlist2</targetReference>
            </connector>
            <label>NotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CCS_Service_Contract_Not_null</name>
        <label>CCS Service Contract Not null?</label>
        <locationX>1022</locationX>
        <locationY>4430</locationY>
        <defaultConnector>
            <targetReference>Get_Asset_List_for_Data_Table</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Service Contract is null</defaultConnectorLabel>
        <rules>
            <name>SC_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.AssetList__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AssetList2</targetReference>
            </connector>
            <label>SC Not Null</label>
        </rules>
        <rules>
            <name>SC_Not_Null_for_CCS_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DisplayCCS.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DisplayCCS.firstSelectedRow.ServiceAgreement__r.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetCase.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_CCS_Contract_Null</targetReference>
            </connector>
            <label>SC Not Null for CCS Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_against_Splitted_Text</name>
        <label>Check against Splitted Text</label>
        <locationX>358</locationX>
        <locationY>2462</locationY>
        <defaultConnector>
            <targetReference>Update_AssetList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not exact match</defaultConnectorLabel>
        <rules>
            <name>Yes_exact_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SplittedText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AssetSerialNumber</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SplittedText</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exact_Serial_Number_match_check</targetReference>
            </connector>
            <label>Yes exact match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_against_Splitted_Text_CCS_SC</name>
        <label>Check against Splitted Text CCS SC</label>
        <locationX>1744</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_AssetList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not exact match</defaultConnectorLabel>
        <rules>
            <name>Yes_exact_match_CCS_SC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SplittedTextCCS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AssetSerialNumber</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SplittedTextCCS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CCS_Collection</targetReference>
            </connector>
            <label>Yes exact match CCS SC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_against_Splitted_Text_Last</name>
        <label>Check against Splitted Text Last</label>
        <locationX>886</locationX>
        <locationY>2570</locationY>
        <defaultConnector>
            <targetReference>Loop_over_getSC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exact Match</defaultConnectorLabel>
        <rules>
            <name>Yes_exact_Match_Last</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AssetSerialNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exact_Serial_Number_match_check_last</targetReference>
            </connector>
            <label>Yes exact Match Last</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_against_Splitted_Text_Last_CCS_SC</name>
        <label>Check against Splitted Text Last CCS SC</label>
        <locationX>2272</locationX>
        <locationY>2162</locationY>
        <defaultConnector>
            <targetReference>Loop_over_CCS_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exact Match</defaultConnectorLabel>
        <rules>
            <name>Yes_exact_Match_Last_CCS_SC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetListFromCCS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AssetSerialNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CCS_Collection_Last</targetReference>
            </connector>
            <label>Yes exact Match Last CCS SC</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRelatedAccount</name>
        <label>CheckRelatedAccount</label>
        <locationX>1022</locationX>
        <locationY>6536</locationY>
        <defaultConnector>
            <targetReference>ErrorScreenAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>accountNotRelated</defaultConnectorLabel>
        <rules>
            <name>accountRelated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Account.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetAssetInformation.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UserDecision</targetReference>
            </connector>
            <label>accountRelated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Operator</name>
        <label>Contains Operator |?</label>
        <locationX>699</locationX>
        <locationY>2354</locationY>
        <defaultConnector>
            <targetReference>Asset_List_is_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Contains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>|</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_against_Splitted_Text</targetReference>
            </connector>
            <label>Yes Contains</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Operator1</name>
        <label>Contains Operator1 | ?</label>
        <locationX>516</locationX>
        <locationY>4646</locationY>
        <defaultConnector>
            <targetReference>AssetList2_Last_Value_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COntains_Op</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetList2</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>|</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Empty_of_SplittedText2</targetReference>
            </connector>
            <label>Yes Contains Op</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Operator_CCS_SC</name>
        <label>Contains Operator | CCS SC?</label>
        <locationX>2085</locationX>
        <locationY>1946</locationY>
        <defaultConnector>
            <targetReference>Asset_List_is_Null_CCS_SC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No_CCS_SC</defaultConnectorLabel>
        <rules>
            <name>Yes_CCS_SC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetListFromCCS</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>|</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_against_Splitted_Text_CCS_SC</targetReference>
            </connector>
            <label>Yes_CCS_SC</label>
        </rules>
    </decisions>
    <decisions>
        <name>CSSCreationDecision</name>
        <label>CSSCreationDecision</label>
        <locationX>1022</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>getWorkType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CCSCreationYesorNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Oui</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multimarches</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CCSCreationYesorNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Non</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_CCS_not_linked_to_MP</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Asset_List_for_Data_Table</name>
        <label>Get Asset List for Data Table</label>
        <locationX>1022</locationX>
        <locationY>5288</locationY>
        <defaultConnector>
            <targetReference>Asset_List_for_Datatable_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Available</defaultConnectorLabel>
        <rules>
            <name>Asset_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetSerialNumberList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_List_for_Datatable</targetReference>
            </connector>
            <label>Asset Available?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_CCS_Contract_Null</name>
        <label>Is CCS Contract Null?</label>
        <locationX>1220</locationX>
        <locationY>4538</locationY>
        <defaultConnector>
            <targetReference>Get_Asset_List_for_Data_Table</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CCS SC Null</defaultConnectorLabel>
        <rules>
            <name>CCS_SC_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DisplayCCS.firstSelectedRow.ServiceAgreement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DisplayCCS.firstSelectedRow.ServiceAgreement__r.AssetList__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AssetList2_from_CCS</targetReference>
            </connector>
            <label>CCS SC Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Empty_of_SplittedText2</name>
        <label>Is Empty of SplittedText2?</label>
        <locationX>252</locationX>
        <locationY>4754</locationY>
        <defaultConnector>
            <targetReference>Split_Asset_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Empty</defaultConnectorLabel>
        <rules>
            <name>Yes_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SplittedText2</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAssetList2</targetReference>
            </connector>
            <label>Yes Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>isAccountBlocked</name>
        <label>isAccountBlocked</label>
        <locationX>1530</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>CannotCreateWO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AccountBlocked</defaultConnectorLabel>
        <rules>
            <name>AccountNotBlocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Account.Blocked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UserOwner</targetReference>
            </connector>
            <label>AccountNotBlocked</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsOwnerChangedDecision</name>
        <label>Is Owner changed?</label>
        <locationX>1242</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>CCSCreation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_owner_changed_in_screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerFieldScreen.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCase</targetReference>
            </connector>
            <label>Yes owner changed in screen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Liste_Assets_Not_null</name>
        <label>Liste Assets Not null ?</label>
        <locationX>1034</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <targetReference>Loop_over_getSC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_getSC.AssetList__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AssetList</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Multimarches</name>
        <label>Multimarchés?</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>getServiceContracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>YesMultimarche</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Account.IsMultiMarkets__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MultiMarcheAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OnePricebookClientAtleast</name>
        <label>OnePricebookClientAtleast?</label>
        <locationX>182</locationX>
        <locationY>3614</locationY>
        <defaultConnector>
            <targetReference>CreateCCS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>YesPricebookClient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetBillingAccount.PricebookNumber__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetClientPricebooks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Asset_from_Screen</name>
        <label>Selected Asset from Screen</label>
        <locationX>1022</locationX>
        <locationY>6128</locationY>
        <defaultConnector>
            <targetReference>Asset_To_Update_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Asset From Case</defaultConnectorLabel>
        <rules>
            <name>From_AssetDatatable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetsDataTable.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssettoUpdate</targetReference>
            </connector>
            <label>From AssetDatatable</label>
        </rules>
        <rules>
            <name>From_Asset_Data_Table_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetDatatableAccountBased.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssetToUpdate1</targetReference>
            </connector>
            <label>From Asset Data Table Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserDecision</name>
        <label>Is the User a traveling technician?</label>
        <locationX>692</locationX>
        <locationY>6644</locationY>
        <defaultConnector>
            <targetReference>Create_WOWorkshop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ELSE</defaultConnectorLabel>
        <rules>
            <name>ITI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCCS.Ressource_planifiee__r.RelatedRecord.ServiceSEMAT__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>iti</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_WO</targetReference>
            </connector>
            <label>Traveling tech (ITI)</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserOwner</name>
        <label>User = Owner ?</label>
        <locationX>1022</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>DoYouNeedToUpdateOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesRightOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SafeIdUser</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CCSCreation</targetReference>
            </connector>
            <label>Yes, right owner</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AssetRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>SerialNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.AccountId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CCSTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ServiceOrderType__c</picklistField>
        <picklistObject>Work_Order_Group__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>collectionSC_Number</name>
        <collectionReference>getServiceContracts</collectionReference>
        <dataType>String</dataType>
        <displayField>ContractNumber__c</displayField>
        <object>ServiceContract</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>collectionWT</name>
        <collectionReference>getWorkType</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>WorkType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PricebookClientChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BillingAccountScreen.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ClientPricebooks__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceContractFilteredCollection</name>
        <collectionReference>SCFiltered</collectionReference>
        <dataType>String</dataType>
        <displayField>ContractNumber__c</displayField>
        <object>ServiceContract</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>workTypeCollection</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>WorkType</object>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CCSId</name>
        <dataType>String</dataType>
        <expression>IF(   ISBLANK({!getIdofNewlycreatedCCS.Id}),{!DisplayCCS.firstSelectedRow.Id},{!getIdofNewlycreatedCCS.Id} )</expression>
    </formulas>
    <formulas>
        <name>CCSName</name>
        <dataType>String</dataType>
        <expression>IF(   ISBLANK({!getIdofNewlycreatedCCS.Id}),{!DisplayCCS.firstSelectedRow.Name},{!getIdofNewlycreatedCCS.Name} )</expression>
    </formulas>
    <formulas>
        <name>CharacterNumberLimit</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!EngagementNum})&lt;=30</expression>
    </formulas>
    <formulas>
        <name>CountryCodeFormula</name>
        <dataType>String</dataType>
        <expression>IF({!GetCase.Contact.MailingCountry}=&quot;France&quot;,&quot;FR&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>US-0501</description>
        <name>DefaultCCSType</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$UserRole.Name},&quot;Iti&quot;),&quot;INT-DEP&quot;,&quot;REP&quot;)</expression>
    </formulas>
    <formulas>
        <name>DefaultWorkTypeWO</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$UserRole.Name},&quot;Iti&quot;),{!$Label.CL08_WorkTypeTraveling},{!$Label.CL_WorkTypeWorkshop})</expression>
    </formulas>
    <formulas>
        <description>Us - 0635</description>
        <name>GetContact</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!ContactScreen.recordId}), {!GetCase.ContactId}, {!ContactScreen.recordId})</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>OwnerIdFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!OwnerFieldScreen.recordId}),{!GetCase.OwnerId},{!OwnerFieldScreen.recordId}
)</expression>
    </formulas>
    <formulas>
        <name>OwnerName</name>
        <dataType>String</dataType>
        <expression>{!GetCase.Owner:User.FirstName}&amp;&apos; &apos;&amp;{!GetCase.Owner:User.LastName}
&amp;{!GetCase.Owner:Group.Name}</expression>
    </formulas>
    <formulas>
        <name>RelatedAccount</name>
        <dataType>String</dataType>
        <expression>IF({!GetCase.Account.InvoicedAccount__c}!=Null, {!GetCase.Account.InvoicedAccount__c}, {!GetCase.AccountId})</expression>
    </formulas>
    <formulas>
        <name>RemainingText</name>
        <dataType>String</dataType>
        <expression>Trim(right({!AssetList}, len({!AssetList})-FIND(&apos;|&apos;, {!AssetList})))</expression>
    </formulas>
    <formulas>
        <name>RemainingText2</name>
        <dataType>String</dataType>
        <expression>Trim(right({!AssetList2}, len({!AssetList2})-FIND(&apos;|&apos;, {!AssetList2})))</expression>
    </formulas>
    <formulas>
        <name>RemainingTextCCS</name>
        <dataType>String</dataType>
        <expression>Trim(right({!AssetListFromCCS}, len({!AssetListFromCCS})-FIND(&apos;|&apos;, {!AssetListFromCCS})))</expression>
    </formulas>
    <formulas>
        <name>SafeIdUser</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>SplittedText</name>
        <dataType>String</dataType>
        <expression>trim(LEFT({!AssetList}, FIND(&apos;|&apos;,{!AssetList} )-1))</expression>
    </formulas>
    <formulas>
        <name>SplittedText2</name>
        <dataType>String</dataType>
        <expression>trim(LEFT({!AssetList2}, FIND(&apos;|&apos;,{!AssetList2} )-1))</expression>
    </formulas>
    <formulas>
        <name>SplittedTextCCS</name>
        <dataType>String</dataType>
        <expression>trim(LEFT({!AssetListFromCCS}, FIND(&apos;|&apos;,{!AssetListFromCCS})-1))</expression>
    </formulas>
    <interviewLabel>Case to WO Cloned One {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE_F001_CaseToWO_Cloned</label>
    <loops>
        <name>Loop_over_CCS_records</name>
        <label>Loop over CCS records</label>
        <locationX>1524</locationX>
        <locationY>1730</locationY>
        <collectionReference>Get_all_CCS_not_linked_to_MP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Asset_List_from_CCS_SC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Display_CCS_not_related_to_MP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_getSC</name>
        <label>Loop over getSC</label>
        <locationX>138</locationX>
        <locationY>2030</locationY>
        <collectionReference>getServiceContracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Liste_Assets_Not_null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Creer_la_commande_de_service</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_WO</name>
        <label>Create WO Iti (address and template)</label>
        <locationX>560</locationX>
        <locationY>6752</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetCase.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>GetAssetInformation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BreakdownDescription__c</field>
            <value>
                <elementReference>GetCase.BreakdownDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Get_Contact_selected_in_screen.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>WOContactScreen.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>GetCase.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency__c</field>
            <value>
                <elementReference>GetCase.Emergency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LCSerialNumber__c</field>
            <value>
                <elementReference>GetAssetInformation.TipperSerialNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LCType__c</field>
            <value>
                <elementReference>GetAssetInformation.LCType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIdFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Get_Contact_selected_in_screen.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>GetStandardPricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>GetCase.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.CL07_WORecordTypeTravelingTech</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceContractId</field>
            <value>
                <elementReference>GetCCS.ServiceAgreement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceOrder__c</field>
            <value>
                <elementReference>GetCCS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceReportTemplateId</field>
            <value>
                <elementReference>$Label.CL_ServiceReportTemplateRapportInterventionBI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>GetServiceTerritoryMember.ServiceTerritory.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingAddress__City__s</field>
            <value>
                <elementReference>Get_Contact_selected_in_screen.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingAddress__PostalCode__s</field>
            <value>
                <elementReference>Get_Contact_selected_in_screen.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingAddress__Street__s</field>
            <value>
                <elementReference>Get_Contact_selected_in_screen.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Get_Contact_selected_in_screen.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectWOScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipperVersionNumber__c</field>
            <value>
                <elementReference>GetAssetInformation.TipperVersionNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Use__c</field>
            <value>
                <elementReference>GetCase.UseNotion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>workTypeOfWO</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_WOWorkshop</name>
        <label>Create WO without service address</label>
        <locationX>824</locationX>
        <locationY>6752</locationY>
        <faultConnector>
            <targetReference>YouAreNotOwner</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetCase.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>GetAssetInformation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BreakdownDescription__c</field>
            <value>
                <elementReference>GetCase.BreakdownDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>WOContactScreen.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>GetCase.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency__c</field>
            <value>
                <elementReference>GetCase.Emergency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LCSerialNumber__c</field>
            <value>
                <elementReference>GetAssetInformation.TipperSerialNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LCType__c</field>
            <value>
                <elementReference>GetAssetInformation.LCType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIdFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>GetStandardPricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>GetCase.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceContractId</field>
            <value>
                <elementReference>GetCCS.ServiceAgreement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceOrder__c</field>
            <value>
                <elementReference>GetCCS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>GetServiceTerritoryMember.ServiceTerritory.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingAddress__City__s</field>
            <value>
                <elementReference>GetCase.Contact.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingAddress__PostalCode__s</field>
            <value>
                <elementReference>GetCase.Contact.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingAddress__Street__s</field>
            <value>
                <elementReference>GetCase.Contact.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectWOScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipperVersionNumber__c</field>
            <value>
                <elementReference>GetAssetInformation.TipperVersionNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Use__c</field>
            <value>
                <elementReference>GetCase.UseNotion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>workTypeOfWO</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateCCS</name>
        <label>CreateCCS</label>
        <locationX>182</locationX>
        <locationY>4022</locationY>
        <connector>
            <targetReference>getIdofNewlycreatedCCS</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingAccount__c</field>
            <value>
                <elementReference>BillingAccountScreen.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientPricebook__c</field>
            <value>
                <elementReference>PriceBookScreen.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommitmentNumber__c</field>
            <value>
                <elementReference>EngagementNum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compte__c</field>
            <value>
                <elementReference>GetCase.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactScreen.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CCSNameScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ressource_planifiee__c</field>
            <value>
                <elementReference>Ressource_planifiee_screen1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceAgreement__c</field>
            <value>
                <elementReference>serviceContract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceOrderType__c</field>
            <value>
                <elementReference>CCSTypesScreen</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Order_Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Asset_List_for_Datatable</name>
        <label>Asset List for Datatable</label>
        <locationX>890</locationX>
        <locationY>5396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateWOscreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SerialNumber</field>
            <operator>In</operator>
            <value>
                <elementReference>AssetSerialNumberList</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Asset_List_for_Datatable_Account</name>
        <label>Asset List for Datatable Account</label>
        <locationX>1154</locationX>
        <locationY>5396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateWOscreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_CCS_not_linked_to_MP</name>
        <label>Get all CCS not linked to MP</label>
        <locationX>1599</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asset_Not_null_CCS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CCS_Maintenance_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ouvert</stringValue>
            </value>
        </filters>
        <filters>
            <field>Compte__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ManagingCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceAgreement__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Work_Order_Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_selected_in_screen</name>
        <label>Get Contact selected in screen</label>
        <locationX>1022</locationX>
        <locationY>5804</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetStandardPricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOContactScreen.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>182</locationX>
        <locationY>3398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetBillingAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceContract</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>US-0541</description>
        <name>GetAssetInformation</name>
        <label>GetAssetInformation</label>
        <locationX>1022</locationX>
        <locationY>6428</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckRelatedAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActualAssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetBillingAccount</name>
        <label>GetBillingAccount</label>
        <locationX>182</locationX>
        <locationY>3506</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OnePricebookClientAtleast</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BillingAccountScreen.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>CASE_F001_CaseToWO</description>
        <name>GetCase</name>
        <label>Get Case</label>
        <locationX>1530</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isAccountBlocked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCCS</name>
        <label>GetCCS</label>
        <locationX>1022</locationX>
        <locationY>5696</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_selected_in_screen</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CCSId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Order_Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetClientPricebooks</name>
        <label>Get Client Pricebooks</label>
        <locationX>50</locationX>
        <locationY>3722</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PricebookClient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetBillingAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ClientPricebooks__c</object>
        <sortField>EndDate__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getIdofNewlycreatedCCS</name>
        <label>getIdofNewlycreatedCCS</label>
        <locationX>182</locationX>
        <locationY>4130</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getWorkType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateCCS</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Order_Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getServiceContracts</name>
        <label>getServiceContracts</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asset_Not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetServiceTerritoryMember</name>
        <label>GetServiceTerritoryMember</label>
        <locationX>1022</locationX>
        <locationY>6020</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Selected_Asset_from_Screen</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCCS.Ressource_planifiee__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TerritoryType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetStandardPricebook</name>
        <label>GetStandardPricebook</label>
        <locationX>1022</locationX>
        <locationY>5912</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetServiceTerritoryMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWorkType</name>
        <label>getWorkType</label>
        <locationX>1022</locationX>
        <locationY>4322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CCS_Service_Contract_Not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>Update Case</label>
        <locationX>978</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>CCSCreation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>YouAreNotOwner2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerFieldScreen.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>CannotCreateWO</name>
        <label>CannotCreateWO</label>
        <locationX>2039</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CannotCreateWOScreen</name>
            <fieldText>&lt;p&gt;Impossible de créer l&apos;ordre d&apos;exécution, car le compte a été bloqué. Merci de votre compréhension.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CCSCreation</name>
        <label>Need CCS Question</label>
        <locationX>1022</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Asset_Serial_Number</targetReference>
        </connector>
        <fields>
            <name>CCSCreationQuestion</name>
            <fieldText>&lt;p&gt;Création d&apos;une nouvelle &lt;strong&gt;commande de service&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CCSCreationYesorNo</name>
            <choiceReferences>Oui</choiceReferences>
            <choiceReferences>Non</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Oui</defaultSelectedChoiceReference>
            <fieldText>Avez-vous besoin de créer une nouvelle commande de service ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreateWOscreen</name>
        <label>Créer l&apos;ordre d&apos;exécution</label>
        <locationX>1022</locationX>
        <locationY>5588</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetCCS</targetReference>
        </connector>
        <fields>
            <name>WOTitle</name>
            <fieldText>&lt;p&gt;Création d&apos;un &lt;strong&gt;Ordre d&apos;exécution&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SubjectWOScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>BI suite à la requête {!GetCase.CaseNumber} :  {!GetCase.Subject}</stringValue>
            </defaultValue>
            <fieldText>Objet</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AssetWOScreenFromCase</name>
            <extensionName>c:ReadOnlyScreenComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>GetCase.Asset.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Equipement</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Update_Asset</name>
            <dataType>Boolean</dataType>
            <fieldText>Modifier l&apos;équipement</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AssetsDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Asset</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Equipements associés au contrat de service</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Asset_List_for_Datatable</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-570f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Asset Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SerialNumber&quot;,&quot;guid&quot;:&quot;column-4458&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Serial Number&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Update_Asset</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>AssetSerialNumberList</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AssetDatatableAccountBased</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Asset</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Equipements associés au compte client </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Asset_List_for_Datatable_Account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-d4f7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Asset Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SerialNumber&quot;,&quot;guid&quot;:&quot;column-7a7d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Serial Number&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Update_Asset</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>AssetSerialNumberList</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AccountOfTheCase</name>
            <extensionName>c:ReadOnlyScreenComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Compte</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>GetCase.Account.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CCSCreationYesorNo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Oui</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WOContactScreen</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetContact</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>WO_CCSscreen1</name>
            <extensionName>c:ReadOnlyScreenComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Commande de service</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CCSName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>workTypeOfWO</name>
            <choiceReferences>collectionWT</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DefaultWorkTypeWO</elementReference>
            </defaultValue>
            <fieldText>Type de travail</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Creer_la_commande_de_service</name>
        <label>Create CCS fields</label>
        <locationX>182</locationX>
        <locationY>3290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
        <fields>
            <name>CCSTitle</name>
            <fieldText>&lt;p&gt;Veuillez créer une &lt;strong&gt;Commande de service (CCS)&lt;/strong&gt; afin de créer votre Ordre d&apos;exécution&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CCSNameScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>&lt;Rempli automatiquement&gt;</stringValue>
            </defaultValue>
            <fieldText>Nom de la commande de service</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CCSTypesScreen</name>
            <choiceReferences>CCSTypes</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DefaultCCSType</elementReference>
            </defaultValue>
            <fieldText>Type de commande de service</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EngagementNum</name>
            <dataType>String</dataType>
            <fieldText>N° Engagement</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;La longueur de N° d&apos;engagement doit être inférieure ou égale à 30 caractères&lt;/p&gt;</errorMessage>
                <formulaExpression>{!CharacterNumberLimit}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Ressource_planifiee_screen1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Work_Order_Group__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Ressource planifiée</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Ressource_planifiee__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayCaseAccountNumberScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(82, 82, 82);&quot;&gt;{!GetCase.AccountNumber__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountOfCase</name>
            <extensionName>c:ReadOnlyScreenComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>GetCase.Account.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dataType</name>
                <value>
                    <elementReference>GetCase.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Compte</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactScreen</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Work_Order_Group__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetCase.ContactId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BillingAccountScreen</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>BillingAccount__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Compte facturé</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Work_Order_Group__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RelatedAccount</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>serviceContract</name>
            <choiceReferences>ServiceContractFilteredCollection</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>FirstSCRecordForDefault.Name</elementReference>
            </defaultValue>
            <fieldText>Contrat de Service</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CCS_Maintenance_Plan</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>CCS Maintenance Plan</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CCS_Maintenance_Plan</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_CCS_not_related_to_MP</name>
        <label>Display CCS not related to MP</label>
        <locationX>1599</locationX>
        <locationY>2798</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getWorkType</targetReference>
        </connector>
        <fields>
            <name>DisplayCCS</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Work_Order_Group__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>CCSRecordCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c278&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nom de Commande de service&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Num_ro_du_contrat__c&quot;,&quot;guid&quot;:&quot;column-942f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Numéro du contrat&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;ManagingCenterCode__c&quot;,&quot;guid&quot;:&quot;column-8b7a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Code Centre de gestion&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;StoreCode__c&quot;,&quot;guid&quot;:&quot;column-edfe&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Code magasin&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Centre_de_gestion_Name__c&quot;,&quot;guid&quot;:&quot;column-0db2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Nom centre de gestion&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-1b84&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DoYouNeedToUpdateOwner</name>
        <label>Do You Need To Update Owner</label>
        <locationX>1242</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IsOwnerChangedDecision</targetReference>
        </connector>
        <fields>
            <name>TitleEditOwnerScreen</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Le propriétaire actuel de la requête est :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 143, 16);&quot;&gt;{!OwnerName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Si besoin et &lt;u&gt;si vous avez le droit de modifier la requête&lt;/u&gt;, veuillez changer le propriétaire avant de créer un Ordre d&apos;exécution ci-dessous:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OwnerFieldScreen</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>OwnerId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Propriétaire</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreenAccount</name>
        <label>ErrorScreenAssetOnAccount</label>
        <locationX>1352</locationX>
        <locationY>6644</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AssetErrorDisplay</name>
            <fieldText>&lt;p&gt;Vous ne pouvez pas créer un Ordre d&apos;exécution pour un équipement qui n&apos;appartient pas au client référencé sur la requête&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MultiMarcheAccount</name>
        <label>Disclaimer IsMultiMarkets</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getServiceContracts</targetReference>
        </connector>
        <fields>
            <name>WarningMultimarche</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 8, 8);&quot;&gt;Attention ! Le compte est un multi-marché. Sélectionnez le bon catalogue de prix sur la Commande de service dans la prochaine étape. Cliquez sur Suivant.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PricebookClient</name>
        <label>Choose your Client Pricebook</label>
        <locationX>50</locationX>
        <locationY>3830</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateCCS</targetReference>
        </connector>
        <fields>
            <name>PricebookClientTitle</name>
            <fieldText>&lt;p&gt;Veuillez sélectionner&lt;strong&gt; le marché client&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BillingAccountTitle</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Compte facuré&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayBillingAccount</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!GetBillingAccount.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PriceBookScreen</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ClientPricebooks__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetClientPricebooks</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-579d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nom du Marché Client&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;PricebookCode__c&quot;,&quot;guid&quot;:&quot;column-b15f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Code du catalogue de prix&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;EndDate__c&quot;,&quot;guid&quot;:&quot;column-2547&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Date de fin&quot;,&quot;type&quot;:&quot;date&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Vous n&apos;êtes pas propriétaire de la requête</description>
        <name>YouAreNotOwner</name>
        <label>YouAreNotOwner</label>
        <locationX>1088</locationX>
        <locationY>6860</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TitleYouAreNotOwner</name>
            <fieldText>&lt;p&gt;Vous n&apos;êtes pas propriétaire ni créateur de la requête et ne pouvez donc pas créer de BI. Vous avez deux options :&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Créez une nouvelle requête&lt;/li&gt;&lt;li&gt;Ou demandez au propriétaire de vous indiquer comme propriétaire de la requête {!GetCase.CaseNumber}&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Vous n&apos;êtes pas propriétaire de la requête</description>
        <name>YouAreNotOwner2</name>
        <label>YouAreNotOwner</label>
        <locationX>1242</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copier_1_sur_TitleYouAreNotOwner</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Vous n&apos;êtes pas autorisé à changer le propriétaire de la requête. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1404</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActualAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetList2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetListFromCCS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetSerialNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetSerialNumberList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCSRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_Group__c</objectType>
    </variables>
    <variables>
        <name>currentItem_SC_FilteredFilter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceContract</objectType>
    </variables>
    <variables>
        <name>FirstContract</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FirstSCRecordForDefault</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceContract</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SCFiltered</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceContract</objectType>
    </variables>
    <variables>
        <name>serviceContracts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceContract</objectType>
    </variables>
    <variables>
        <name>WOLIRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <description>quote line items</description>
        <name>WOLItoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WorkOrderObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;BI lié au devis : &quot;</stringValue>
        </value>
    </variables>
</Flow>
